#root {
    margin: 0 auto;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

.logo {
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #c164ffaa);
}

.beige {
    background-color: #f7f4d5;
}

.palm {
    background-color: #839958;
}

.evergreen {
    background-color: #839958;
}

.rosy {
    background-color: #d3968c;
}

.teal {
    background-color: #105666;
}

